@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'AncizarSans', 'sans-serif';
}

body {
  @apply text-gray-unal-700 overflow-x-hidden;
}

.section-title {
  @apply font-bold text-2xl mb-8;
  @apply xl:text-center xl:text-5xl xl:mb-12;
}

.section-subtitle {
  @apply font-bold text-4xl mb-8;
}

@layer base {
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Bold.eot');
    src: url('../fonts/AncizarSans-Bold.woff2') format('woff2'),
         url('../fonts/AncizarSans-Bold.woff') format('woff'),
         url('../fonts/AncizarSans-Bold.ttf') format('truetype'),
         url('../fonts/AncizarSans-Bold.svg#AncizarSans-Bold') format('svg'),
         url('../fonts/AncizarSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-BoldItalic.eot');
    src: url('../fonts/AncizarSans-BoldItalic.woff2') format('woff2'),
         url('../fonts/AncizarSans-BoldItalic.woff') format('woff'),
         url('../fonts/AncizarSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/AncizarSans-BoldItalic.svg#AncizarSans-BoldItalic') format('svg'),
         url('../fonts/AncizarSans-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Light.eot');
    src: url('../fonts/AncizarSans-Light.woff2') format('woff2'),
         url('../fonts/AncizarSans-Light.woff') format('woff'),
         url('../fonts/AncizarSans-Light.ttf') format('truetype'),
         url('../fonts/AncizarSans-Light.svg#AncizarSans-Light') format('svg'),
         url('../fonts/AncizarSans-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-LightItalic.eot');
    src: url('../fonts/AncizarSans-LightItalic.woff2') format('woff2'),
         url('../fonts/AncizarSans-LightItalic.woff') format('woff'),
         url('../fonts/AncizarSans-LightItalic.ttf') format('truetype'),
         url('../fonts/AncizarSans-LightItalic.svg#AncizarSans-LightItalic') format('svg'),
         url('../fonts/AncizarSans-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Regular.eot');
    src: url('../fonts/AncizarSans-Regular.woff2') format('woff2'),
         url('../fonts/AncizarSans-Regular.woff') format('woff'),
         url('../fonts/AncizarSans-Regular.ttf') format('truetype'),
         url('../fonts/AncizarSans-Regular.svg#AncizarSans-Regular') format('svg'),
         url('../fonts/AncizarSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-RegularItalic.eot');
    src: url('../fonts/AncizarSans-RegularItalic.woff2') format('woff2'),
         url('../fonts/AncizarSans-RegularItalic.woff') format('woff'),
         url('../fonts/AncizarSans-RegularItalic.ttf') format('truetype'),
         url('../fonts/AncizarSans-RegularItalic.svg#AncizarSans-RegularItalic') format('svg'),
         url('../fonts/AncizarSans-RegularItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Thin.eot');
    src: url('../fonts/AncizarSans-Thin.woff2') format('woff2'),
         url('../fonts/AncizarSans-Thin.woff') format('woff'),
         url('../fonts/AncizarSans-Thin.ttf') format('truetype'),
         url('../fonts/AncizarSans-Thin.svg#AncizarSans-Thin') format('svg'),
         url('../fonts/AncizarSans-Thin.eot?#iefix') format('embedded-opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }  
}
