@import url('./fonts.css');

html {
  font-family: 'AncizarSans', 'sans-serif';
  font-weight: normal;
  font-style: normal;
}

body {
  @apply text-gray-unal-700 overflow-x-hidden;
}

/* Fonts */

.font-sans {
  font-family: 'AncizarSans', 'sans-serif';
  font-weight: normal;
  font-style: normal;
}

.font-bold {
  font-family: 'AncizarSans', 'sans-serif';
  font-weight: bold;
  font-style: normal;
}

.font-light {
  font-family: 'AncizarSans', 'sans-serif';
  font-weight: 300;
  font-style: normal;
}

.font-extralight {
  font-family: 'AncizarSans', 'sans-serif';
  font-weight: 200;
  font-style: normal;
}
