@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'AncizarSans', 'sans-serif';
}

body {
  @apply text-gray-unal-700 overflow-x-hidden;
}

.section-title {
  @apply font-bold text-3xl mb-8;
  @apply xl:text-center xl:text-5xl xl:mb-10;
}

.section-subtitle {
  @apply font-bold text-lg mb-8;
  @apply xl:text-4xl;
}

.section-description {
  @apply xl:text-xl mb-10 text-base font-light;
}

.item-title {
  @apply text-lg text-center leading-6 font-bold;
  @apply xl:text-2xl xl:text-left;
}

.item-action {
  @apply inline-block bg-green-red text-white text-center rounded-lg w-28 text-base leading-6 pt-0.5 mt-2;
  @apply xl:text-lg xl:w-32 xl:leading-8 xl:pt-1;
}

.description {
  @apply font-light;
}

.media-action {
  @apply relative justify-start text-white rounded-lg w-40 px-4 py-1 xl:w-48 xl:text-lg leading-6 xl:py-2 xl:px-6 xl:mr-5;
}

@layer base {
  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Bold.eot');
    src: url('../fonts/AncizarSans-Bold.woff2') format('woff2'),
         url('../fonts/AncizarSans-Bold.woff') format('woff'),
         url('../fonts/AncizarSans-Bold.ttf') format('truetype'),
         url('../fonts/AncizarSans-Bold.svg#AncizarSans-Bold') format('svg'),
         url('../fonts/AncizarSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-BoldItalic.eot');
    src: url('../fonts/AncizarSans-BoldItalic.woff2') format('woff2'),
         url('../fonts/AncizarSans-BoldItalic.woff') format('woff'),
         url('../fonts/AncizarSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/AncizarSans-BoldItalic.svg#AncizarSans-BoldItalic') format('svg'),
         url('../fonts/AncizarSans-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Light.eot');
    src: url('../fonts/AncizarSans-Light.woff2') format('woff2'),
         url('../fonts/AncizarSans-Light.woff') format('woff'),
         url('../fonts/AncizarSans-Light.ttf') format('truetype'),
         url('../fonts/AncizarSans-Light.svg#AncizarSans-Light') format('svg'),
         url('../fonts/AncizarSans-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-LightItalic.eot');
    src: url('../fonts/AncizarSans-LightItalic.woff2') format('woff2'),
         url('../fonts/AncizarSans-LightItalic.woff') format('woff'),
         url('../fonts/AncizarSans-LightItalic.ttf') format('truetype'),
         url('../fonts/AncizarSans-LightItalic.svg#AncizarSans-LightItalic') format('svg'),
         url('../fonts/AncizarSans-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Regular.eot');
    src: url('../fonts/AncizarSans-Regular.woff2') format('woff2'),
         url('../fonts/AncizarSans-Regular.woff') format('woff'),
         url('../fonts/AncizarSans-Regular.ttf') format('truetype'),
         url('../fonts/AncizarSans-Regular.svg#AncizarSans-Regular') format('svg'),
         url('../fonts/AncizarSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-RegularItalic.eot');
    src: url('../fonts/AncizarSans-RegularItalic.woff2') format('woff2'),
         url('../fonts/AncizarSans-RegularItalic.woff') format('woff'),
         url('../fonts/AncizarSans-RegularItalic.ttf') format('truetype'),
         url('../fonts/AncizarSans-RegularItalic.svg#AncizarSans-RegularItalic') format('svg'),
         url('../fonts/AncizarSans-RegularItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'AncizarSans';
    src: url('../fonts/AncizarSans-Thin.eot');
    src: url('../fonts/AncizarSans-Thin.woff2') format('woff2'),
         url('../fonts/AncizarSans-Thin.woff') format('woff'),
         url('../fonts/AncizarSans-Thin.ttf') format('truetype'),
         url('../fonts/AncizarSans-Thin.svg#AncizarSans-Thin') format('svg'),
         url('../fonts/AncizarSans-Thin.eot?#iefix') format('embedded-opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
}
